* {
  max-width: 700px;
  margin: auto;
}

/* Salutation */
#salutation {
  font-family: Tahoma;
  background-color: white;
  text-align: left;
  vertical-align: baseline;
  text-decoration: none;
}

#contact {
  font-family: Tahoma;
  font-size: 100%;
  font-style: none;
  color: black;

  columns: 2;
  column-gap: 10px;
}

#contact-col-1 {
  text-align: left;
  width: 125%;
}

#my-name {   
  font-size: 300%;
  font-style: none;
  color: black;
}

#my-title {
  font-size: 200%;
  font-style: none;
  color: black;
}

#contact-col-2 {
  text-align: right;
  width: 100%;
}

.contact-info {
  font-size: 100%;
  line-height: 1.4;
}

#summary {
  font-style: Georgia;
  font-size: 100%;
  font-style: none;
  color: black;
  text-align: justify;
}

/* Expertise and Experience */
#exp {
  columns: 3;
  column-gap: 10px;
  column-rule: 1px solid black;
}

#experience {
  width: 100%;
}

.section-header {
  font-style: Tahoma;
  font-size: 150%;
  font-style: none;
  color: black;
  text-align: left;
  display: inline-block;
}

.position {
  columns: 2;
  column-gap: 10px;
}

.pos-col-1 {
  width: 100%;
}

.pos-title {
  font-style: Tahoma;
  font-size: 100%;
  font-style: bold;
  color: black;
  text-align: left;
}

.pos-org {
  font-style: Tahoma;
  font-size: 75%;
  font-style: italic;
  color: black;
  text-align: left;
}

.pos-col-2 {
  width: 50%;
}

.pos-dates {
  font-style: Tahoma;
  font-size: 75%;
  font-style: none;
  color: black;
  text-align: right
}

.pos-loc {
  font-style: Tahoma;
  font-size: 75%;
  font-style: none;
  color: black;
  text-align: right
}

.accomplishments {
  font-style: Georgia;
  font-size: 75%;
  font-style: none;
  color: black;
  text-align: left;
}

#expertise {
  text-align: right;
  width: 100%;
  display: inline-block;
}

.skill-set {
  font-style: Tahoma;
  font-size: 100%;
  font-style: bold;
  color: black;
  text-align: right
}

.skill {
  font-style: Tahoma;
  font-size: 75%;
  font-style: none;
  color: black;
  text-align: right;
}