* {
  max-width: 800px;
  margin: auto;

  font-style: 'Times New Roman', Times, serif;
  font-size: 1em;
  background-color: white;
}

.section-header {
  font-size: 200%;
  text-align: left;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}


/* Salutation  section formatting */
#salutation {
  text-align: left;
  vertical-align: baseline;
  text-decoration: none;
}

#contact {
  columns: 2;
  column-gap: 10px;
}

#contact-col-1 {
  text-align: left;
  width: 125%;
}

#my-name {   
  font-size: 300%;
}

#my-title {
  font-size: 200%;
}

#contact-col-2 {
  text-align: right;
  width: 100%;
}

.contact-info {
  font-size: 100%;
  line-height: 1.4;
}

#summary {
  font-size: 100%;
  text-align: justify;
}
/* End salutation section formatting */


/* Column formatting */
.columns {
  columns: 2;
  column-gap: 10px;
}

#experience {
  width: 39em;
  column-rule: 5px solid black;
}

#expertise {
  text-align: left;
  width: 8em;
  padding-left: 17em;
}

.position {
  padding-bottom: 1em;
}

.pos-col-1 {
  width: 30em;
}

.pos-col-2 {
  width: 18em;
}

.other-col-2 {
  width: 20em;
}

.other-col-1 {
  width: 25em;
}
/* End column formatting */


/* Formatting for job/edu/pub/org/vol data */
.title {
  /*font-size: 115%;*/
  font-weight: bold;
  text-align: left;
}

.organization {
  font-style: italic;
  text-align: left;
}

.dates {
  text-align: right
}

.location {
  text-align: right
}

.accomplishments {
  list-style-position: outside;
  margin: 0;
  padding-top: .5em;
  padding-left: 1em;
}

.effort {
  text-align: left;
  column-span: none;
}
/* End formatting for job/edu/pub/org/vol data */


/* Formatting for expertise section */
.skill-set {
  font-size: 115%;
  font-weight: bold;
  padding-top: 1em;
}

.skill {
  padding-top: .25em;
}
/* End formatting for expertise section */