* {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  margin: auto;
}

.left-border {
  background: linear-gradient(270deg, rgba(255,255,255,1) 50%, rgba(0,0,0,0.6446779395351891) 100%);
  float: left;
  height: 100%;
  opacity: 50%;
  position: fixed;
  width: 10%;
}

.data {
  background-color: white;
  float: left;
  margin-left: 10%;
  max-width: 700px;
  min-width: 753px;
  padding-bottom: 2%;
  padding-top: 1%;
  width: 70%;
}

.section-header {
  clear: both;
  font-size: 200%;
  padding-bottom: .5%;
  padding-top: .5%;
  text-align: left;
}

.section-header.exp {
  font-size: 200%;
  padding-bottom: .5%;
  padding-top: .5%;
  text-align: right;
}


/* Salutation  layout formatting */
#salutation {
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
}

#contact {
  column-gap: 2%;
  columns: 2;
}

#contact-col-1 {
  text-align: left;
  width: 100%;
}

#contact-col-2 {
  text-align: right;
  width: 100%;
}
/* End salutation layout formatting */


/* Font configuration for salutation and contact info */
#my-name {   
  font-size: 300%;
}

#my-title {
  font-size: 200%;
}

.contact-info {
  font-size: 100%;
  line-height: 1.4;
}

#summary {
  font-size: 100%;
  text-align: justify;
}
/* End salutation/contact section formatting */


/* Column formatting */
#experience {
  float: left;
  padding-left: 1%;
  width: 74%;
}

#expertise {
  border-left: solid 2px black;
  float: right;
  padding-right: 1%;
  text-align: right;
  width: 18%;
}

.position {
  padding-bottom: 1em;
}

.pos-col-1 {
  float: left;
  padding-bottom: 2%;
  width: 70%;
}

.pos-col-2 {
  float: right;
  padding-bottom: 2%;
  width: 30%;
}

.other-col-1 {
  float: left;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 50%;
}

.other-col-2 {
  float: right;
  padding-bottom: 1%;
  width: 30%;
}
/* End column formatting */


#education {
  float: left;
  padding-left: 1%;
}

#cert {
  padding-top: 7%;
}

#organizations {
  float: left;
  padding-left: 1%;
}

#project-info {
  padding-left: 1%;
  padding-top: 7.5%;
}


/* Formatting for job/edu/pub/org/vol text */
.title {
  font-weight: bold;
  padding-bottom: 1%;
  text-align: left;
}

.organization {
  font-style: italic;
  text-align: left;
}

.dates {
  padding-bottom: 1%;
  text-align: right;
}

.location {
  text-align: right;
}

.accomplishments {
  list-style-position: outside;
  margin: 0;
  padding-left: 2%;
  padding-top: 5%;
}

.effort {
  text-align: left;
}
/* End formatting for job/edu/pub/org/vol data */


/* Formatting for expertise section */
.skill-set {
  font-size: 115%;
  font-weight: bold;
  padding-left: 1%;
  padding-top: 1%;
}

.skill {
  padding-left: .5em;
  padding-top: .25em;
}
/* End formatting for expertise section */

#project-info-text {
  font-size: 65%;
  font-style: italic;
  text-align: center;
}

#counter {
  font-size: 65%;
  text-align: center;
}